In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
pitstops_df = pd.read_csv('F1KaggleData/pitStops.csv')

In [3]:
display(pitstops_df.sample(10))

pitstops_df.describe()

earliest_race = pitstops_df['raceId'].min()
latest_race = pitstops_df['raceId'].max()

display('Earliest race: {} Latest race: {}'.format(earliest_race, latest_race))

      raceId  driverId  stop  lap      time duration  milliseconds
3659     914       154     4   34  16:33:58   23.745         23745
36       841       814     2   36  18:00:48   24.332         24332
4556     945       832     2   28  17:54:59   22.063         22063
2333     884       814     2   19  14:32:58   19.792         19792
6079     983         1     1   26  15:45:40   23.489         23489
5762     974        18     2   39  14:54:53   26.057         26057
1008     857        30     2   50  16:19:55   21.482         21482
488      848        17     3   42  15:17:11   20.367         20367
3658     914         8     4   34  16:33:52   24.173         24173
2771     894        20     1   11  15:23:22   22.662         22662

'Earliest race: 841 Latest race: 988'

In [4]:
# now lets work out the races we are talking about to see what the data spans over 

races_df = pd.read_csv('F1KaggleData/races.csv')
display(races_df.sample(10))

display(races_df.loc[races_df['raceId'] == earliest_race])
display(races_df.loc[races_df['raceId'] == latest_race])

display(races_df.loc[races_df['raceId'] == 858])
# ok, this is enough data to work with 
display(races_df.loc[858])

,raceId,year,round,circuitId,name,date,time,url
784,785,1956,2,6,Monaco Grand Prix,1956-05-13,,http://en.wikipedia.org/wiki/1956_Monaco_Grand...
652,653,1970,11,52,Canadian Grand Prix,1970-09-20,,http://en.wikipedia.org/wiki/1970_Canadian_Gra...
651,652,1970,10,14,Italian Grand Prix,1970-09-06,,http://en.wikipedia.org/wiki/1970_Italian_Gran...
670,671,1968,5,39,Dutch Grand Prix,1968-06-23,,http://en.wikipedia.org/wiki/1968_Dutch_Grand_...
62,63,2006,11,8,French Grand Prix,2006-07-16,14:00:00,http://en.wikipedia.org/wiki/2006_French_Grand...
309,310,1991,6,32,Mexican Grand Prix,1991-06-16,,http://en.wikipedia.org/wiki/1991_Mexican_Gran...
103,104,2004,15,14,Italian Grand Prix,2004-09-12,,http://en.wikipedia.org/wiki/2004_Italian_Gran...
537,538,1978,12,23,Austrian Grand Prix,1978-08-13,,http://en.wikipedia.org/wiki/1978_Austrian_Gra...
198,199,1998,9,9,British Grand Prix,1998-07-12,,http://en.wikipedia.org/wiki/1998_British_Gran...
256,257,1994,1,18,Brazilian Grand Prix,1994-03-27,,http://en.wikipedia.org/wiki/1994_Brazilian_Gr...

,raceId,year,round,circuitId,name,date,time,url
839,841,2011,1,1,Australian Grand Prix,2011-03-27,06:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...

,raceId,year,round,circuitId,name,date,time,url
975,988,2017,20,24,Abu Dhabi Grand Prix,2017-11-26,13:00:00,https://en.wikipedia.org/wiki/2017_Abu_Dhabi_G...

,raceId,year,round,circuitId,name,date,time,url
856,858,2011,18,24,Abu Dhabi Grand Prix,2011-11-13,13:00:00,http://en.wikipedia.org/wiki/2011_Abu_Dhabi_Gr...

raceId                                                     860
year                                                      2012
round                                                        1
circuitId                                                    1
name                                     Australian Grand Prix
date                                                2012-03-18
time                                                  06:00:00
url          http://en.wikipedia.org/wiki/2012_Australian_G...
Name: 858, dtype: object

In [5]:
# there looks like there is some weird data, where the pit stops take waaay too long
pitstops_df.sort_values('milliseconds', ascending=True, inplace=True)

display(pitstops_df.head(10))

drivers_df = pd.read_csv('F1KaggleData/drivers.csv')
display(drivers_df.head(2))
driver_with_the_short_stop = drivers_df.loc[drivers_df['driverId'] == 813]
display(driver_with_the_short_stop)

      raceId  driverId  stop  lap      time duration  milliseconds
1037     858       813     2   30  17:58:49   12.897         12897
1044     858       811     3   36  18:09:34   12.959         12959
693      851         1     6   56  15:30:48   13.173         13173
632      851       813     2   16  14:31:22   13.186         13186
1640     870        30     2    4  14:12:58   13.199         13199
655      851       815     3   32  14:56:05   13.201         13201
1692     870       813     3   52  15:23:48   13.206         13206
1399     864        13     2   28  14:46:33   13.259         13259
2330     884       813     2   13  14:23:55   13.266         13266
1402     864        20     3   30  14:49:35   13.335         13335

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
812,813,maldonado,13.0,MAL,Pastor,Maldonado,09/03/1985,Venezuelan,http://en.wikipedia.org/wiki/Pastor_Maldonado

In [6]:
canada_2016_race_id = races_df.loc[(races_df['name'] == 'Canadian Grand Prix') & (races_df['year'] == 2016)]['raceId']

display(int(canada_2016_race_id))

pitstops_df.loc[pitstops_df['raceId'] == int(canada_2016_race_id)]

954

      raceId  driverId  stop  lap      time duration  milliseconds
4866     954       822     1   23  14:33:59   22.184         22184
4867     954         1     1   24  14:35:00   22.243         22243
4871     954        20     2   37  14:51:55   22.361         22361
4863     954         3     1   21  14:31:29   22.466         22466
4868     954       815     1   30  14:43:33   22.556         22556
4851     954        20     1   11  14:17:58   22.597         22597
4878     954       826     2   44  15:02:16   22.627         22627
4884     954         3     2   51  15:10:35   22.728         22728
4852     954         8     1   11  14:18:14   22.820         22820
4862     954       817     1   21  14:31:21   22.872         22872
4864     954       807     1   21  14:31:34   22.876         22876
4880     954       830     2   46  15:04:02   22.909         22909
4865     954        13     1   22  14:32:47   22.925         22925
4856     954       828     1   14  14:22:44   22.957         22957
4860     954       826     1   17  14:26:28   23.000         23000
4874     954       154     2   39  14:55:43   23.055         23055
4885     954       807     2   51  15:11:06   23.111         23111
4876     954       825     1   39  14:56:12   23.162         23162
4869     954         8     2   33  14:47:15   23.263         23263
4875     954       828     2   39  14:56:10   23.299         23299
4855     954       821     1   13  14:21:13   23.412         23412
4854     954       832     1   13  14:21:10   23.517         23517
4861     954       830     1   20  14:29:59   23.586         23586
4870     954       831     2   35  14:51:16   23.608         23608
4859     954       154     1   17  14:26:26   23.680         23680
4877     954       821     2   41  14:58:41   23.928         23928
4850     954       831     1    9  14:15:49   23.987         23987
4872     954       817     2   38  14:53:47   24.018         24018
4883     954       832     2   48  15:07:17   24.445         24445
4873     954       836     2   38  14:54:55   24.516         24516
4881     954       815     2   46  15:04:50   24.757         24757
4853     954       836     1   11  14:18:36   24.784         24784
4879     954       837     2   44  15:03:24   25.069         25069
4858     954         4     1   17  14:26:24   27.952         27952
4857     954       837     1   15  14:24:03   29.732         29732
4882     954       154     3   46  15:05:13   32.114         32114

In [7]:
import ipywidgets as widgets
from IPython.display import clear_output

# display(pitstops_df.sample(5))
# display(races_df.sample(5))

narrow_races = races_df[['raceId','year', 'name']]
# display(narrow_races.sample(5))
# display(narrow_races.describe())

pitstops_2_df = pd.merge(pitstops_df, narrow_races, on='raceId') 
display(pitstops_2_df.sample(10))
display(pitstops_2_df.describe())

valid_pitstop_years = pitstops_2_df['year'].unique
valid_pitstop_gp_names = pitstops_2_df['name'].unique

,raceId,driverId,stop,lap,time,duration,milliseconds,year,name
1757,869,37,2,45,15:07:26,20.664,20664,2012,German Grand Prix
390,843,815,4,50,16:31:39,28.845,28845,2011,Chinese Grand Prix
5922,951,4,1,21,15:42:40,29.751,29751,2016,Russian Grand Prix
5993,957,18,2,17,13:38:19,29.588,29588,2016,British Grand Prix
4355,950,1,1,1,14:05:46,29.322,29322,2016,Chinese Grand Prix
39,858,815,1,2,17:07:22,24.654,24654,2011,Abu Dhabi Grand Prix
2934,949,830,2,26,18:47:23,25.594,25594,2016,Bahrain Grand Prix
1005,867,4,1,15,14:30:09,19.789,19789,2012,European Grand Prix
1651,890,823,2,27,14:44:59,22.831,22831,2013,Hungarian Grand Prix
4372,943,154,1,11,13:19:15,22.735,22735,2015,Mexican Grand Prix

,raceId,driverId,stop,lap,milliseconds,year
count,6251.000000,6251.000000,6251.000000,6251.000000,6.251000e+03,6251.000000
mean,907.860342,429.468245,1.836346,24.813470,4.774453e+04,2013.778595
std,44.327698,397.079565,0.935314,14.150022,1.791970e+05,2.015840
min,841.000000,1.000000,1.000000,1.000000,1.289700e+04,2011.000000
25%,868.000000,13.000000,1.000000,13.000000,2.176800e+04,2012.000000
50%,902.000000,807.000000,2.000000,24.000000,2.334000e+04,2014.000000
75%,950.000000,821.000000,2.000000,35.000000,2.554700e+04,2016.000000
max,988.000000,843.000000,6.000000,74.000000,2.011266e+06,2017.000000

In [8]:
def race_name_dropdown_eventhandler(change):

    with out:
        clear_output()
        
        races_df.loc[(races_df['name'] == 'Canadian Grand Prix') & (races_df['year'] == 2016)]['raceId']
        display(year_slider.value)
        pitstops_for_chosen_gp_df = pitstops_2_df.loc[(pitstops_2_df['name'] == change.new) & (pitstops_2_df['year'] == year_slider.value)]
        display(pitstops_for_chosen_gp_df)


valid_pitstop_years = pitstops_2_df['year'].unique()
valid_pitstop_gp_names = pitstops_2_df['name'].unique()


year_slider = widgets.IntSlider(
                        min=int(pitstops_2_df['year'].min()),
                        max=int(pitstops_2_df['year'].max()),
                        step=1,
                        description='Year:',
                        value=3)

display(year_slider)

race_name_dropdown = widgets.Dropdown(options=valid_pitstop_gp_names,
                                    description='Select Grand Prix: ', disabled=False)

display(race_name_dropdown)
out = widgets.Output()
display(out)

race_name_dropdown.observe(race_name_dropdown_eventhandler, names='value')

IntSlider(value=2011, description='Year:', max=2017, min=2011)

Dropdown(description='Select Grand Prix: ', options=('Abu Dhabi Grand Prix', 'Hungarian Grand Prix', 'Spanish …

Output()

In [ ]:
!pip install qgrid


import qgrid

#qgrid.nbinstall(overwrite=True)  # copies javascript dependencies to your /nbextensions folder
#qgrid.set_defaults(remote_js=True)

# display(pitstops_2_df.sample(5))
qgrid.show_grid(pitstops_2_df, show_toolbar=False)

In [ ]:
from ipywidgets import interact, interact_manual
import copy

@interact
def show_pitstops_more_than(column='milliseconds', x=60000):
    r = copy.deepcopy(pitstops_2_df.loc[pitstops_2_df[column] > x])
    r.sort_values('milliseconds', ascending=False, inplace=True)
    return r